# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Samples
/src/validators/SimpleValidator.sol
/src/executors/SimpleExecutor.sol
/src/hooks/SimpleHook.sol

/test/validators/SimpleValidator.t.sol
/test/executors/SimpleExecutor.t.sol
/test/hooks/SimpleHook.t.sol
