[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/module-kit"]
	path = lib/module-kit
	url = https://github.com/rhinestonewtf/module-kit
